.header {
    width: 100%;
    margin: 0;
    @media (max-width: 768px) { // Tablets
        position: relative;
        padding-bottom: 2rem;
    }
    @media (min-width: 769px) { // Desktop
        position: fixed;
        top: 0;
        left: 0;
        height: 45vh;
        .titulo {
            max-height: 7vh;
        }
    }
    background-color: #223656;
    .titulo {
        font-size: 6.5vh;
        color: #fff;
        margin: 10px 0 30px;
        text-align: center;
    }
    .logos {
        height: calc(100% - 7vh - 40px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .columna {
            display: flex;
            height: 100%;
        }
        @media (max-width: 768px) { // Tablets
            .columna {
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                img {
                    width: 42.5%;
                    height: auto;
                    &.logo_ap {
                        width: 47.5%;
                    }
                }
            }
        }
        @media (min-width: 769px) { // Desktop
            .columna {
                width: 20%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    width: 80%;
                    height: auto;
                    &:first-of-type {
                        margin-bottom: 2rem;
                    }
                    &.logo_ap {
                        width: 90%;
                    }
                }
            }
        }
    }
}