<div class="cuerpo">
    <div class="temporizador">
        <div class="tiempo" [ngClass]="{'negativo':(conteo < 0)?true:false}" *ngIf="!safari">{{minutos}} : {{segundos}}</div>
        <div class="tiempo" [ngClass]="{'negativo':(conteo < 0)?true:false}" *ngIf="safari">{{salida}}</div>
    </div>
    <div class="acciones">
        <div class="iniciar" *ngIf="paso === 0">
            <button mat-fab color="primary" aria-label="INICIAR" (click)="inicia()">
                <mat-icon>play_arrow</mat-icon>
            </button>
        </div>
        <div class="andando" *ngIf="paso === 1">
            <button mat-fab color="primary" aria-label="PAUSAR" (click)="pausa()">
                <mat-icon>pause</mat-icon>
            </button>
            <button mat-fab color="warn" aria-label="RESTABLECER" (click)="restablece()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
        <div class="pausa" *ngIf="paso === 2">
            <button mat-fab color="primary" aria-label="CONTINUAR" (click)="inicia()">
                <mat-icon>play_arrow</mat-icon>
            </button>
            <button mat-fab color="warn" aria-label="RESTABLECER" (click)="restablece()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
</div>
