<div class="cuerpo">
    <mat-card class="tarjeta">
        <mat-card-header class="encabezado">
            <button mat-icon-button
                    aria-label="Añadir un temporizador"
                    matTooltip="Añadir un temporizador"
                    (click)="abreModal(adicionar)">
                <mat-icon>add_circle</mat-icon>
            </button>
            <button mat-icon-button
                    aria-label="Configurar los temporizadores"
                    matTooltip="Configurar los temporizadores"
                    (click)="abreModal(modal)">
                <mat-icon>settings_applications</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let turno of turnos; index as i; first as primero" [expanded]="primero">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="numero"><span>{{i + 1}}</span></div>
                            <div class="titulo">{{turno.nombre}}</div>
                        </mat-panel-title>
                        <mat-panel-description>{{turno.tipoTurno}}</mat-panel-description>
                    </mat-expansion-panel-header>
                    <temporizador [tiempo]="turno.tiempo" [numero]="i" (final)="tiempoFinal($event)"></temporizador>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Resumen</mat-panel-title>
                    </mat-expansion-panel-header>
                    <resumen [resumen]="resumen"></resumen>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>
<ng-template #adicionar>
    <h1 mat-dialog-title>Adicionar un temporizador</h1>
    <div mat-dialog-content class="dialog-add">
        <mat-form-field>
            <input matInput placeholder="Tipo" type="text" [(ngModel)]="nuevoTemp.nombre">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descripción" type="text" [(ngModel)]="nuevoTemp.tipoTurno">
        </mat-form-field>
        <div class="tiempo">
            <mat-form-field>
                <input matInput placeholder="Minutos" type="number" [(ngModel)]="nuevoTemp.min">
            </mat-form-field>
            <span class="separador">:</span>
            <mat-form-field>
                <input matInput max="59" placeholder="Segundos" type="number" [(ngModel)]="nuevoTemp.seg">
            </mat-form-field>
        </div>
        <span class="tip">Deja los minutos y segundos en 0, para crear un cronómetro en lugar de un temporizador.</span>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="adiciona()">Crear</button>
    </div>
</ng-template>
<ng-template #modal>
    <h1 mat-dialog-title>Configurar temporizadores</h1>
    <div mat-dialog-content>
        <div cdkDropList class="drag-drop-list" (cdkDropListDropped)="suelta($event)">
            <div class="conf-temp" *ngFor="let val of valores; index as i" cdkDrag>
                <button class="btn-drag" mat-icon-button aria-label="Ordenar los temporizadores">
                    <mat-icon>drag_indicator</mat-icon>
                </button>
                <h4 class="nombre-temp">
                    <span class="numero">{{(i + 1) + "º. "}}</span>
                    <span class="nombre">{{turnos[i]!.nombre}}</span>
                    -
                    <span class="tipo-turno">{{turnos[i]!.tipoTurno}}</span>
                </h4>
                <div class="campos">
                    <mat-form-field>
                        <input class="campo"
                               type="number"
                               placeholder="Minutos"
                               matInput
                               [(ngModel)]="valores[i].min"
                               (change)="ajustaTiempo()">
                    </mat-form-field>
                    :
                    <mat-form-field>
                        <input class="campo"
                               max="59"
                               type="number"
                               placeholder="Segundos"
                               matInput
                               [(ngModel)]="valores[i].seg"
                               (change)="ajustaTiempo()">
                    </mat-form-field>
                </div><!-- /.campos -->
                <button class="btn-delete"
                        mat-icon-button
                        matTooltip="Eliminar este temporizador"
                        aria-label="Eliminar este temporizador"
                        (click)="elimina(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div><!-- /.conf-temp -->
        </div><!-- /cdkDropList -->
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="cierraModal()">Cerrar</button>
    </div>
</ng-template>
