/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    font-size: calc(100vw / 80);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-label-wrapper {
    font-size: 2rem;
}